{% extends 'base/base.html' %} {% load static from staticfiles %} {% block content %}
<div ng-controller="AcmeController">
	<div class="jumbotron">
		<div class="row">
			<div class="col-xl-12">
				<div id="blocklyDiv" ng-model="workspace" style="height: 400px; width: 100%;"></div>
				<form id="BlocksArea">
					<div class="row">
						<div class="col-xl-12">
							<center>
								<button type="button" ng-click="showcode()" class="btn btn-primary">Aceptar</button>
							</center>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

{% endblock %}